html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }
  
  .section {
    width: 100%;
    min-height: 100vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .carousel-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn-contact {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 10;
  }
  
  #services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 0;
  }
  
  .service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .service-item img {
    width: 30%;
    height: auto;
  }
  
  .service-description {
    width: 65%;
    text-align: left;
  }
  
  .service-description .btn {
    margin-top: 10px;
  }
  
  footer {
    background-color: #A9A9A9;
    padding: 2vh;
    display: flex;
    justify-content: space-between;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer img {
    height: 5vh; /* Reduced size for responsiveness */
  }  