/* Estilo global */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar scroll horizontal */
}

/* Barra de Navegação */
.navbar {
  background-color: #A9A9A9; /* Cor cinza do logo aplicada à barra de navegação */
}

.nav-link {
  font-size: 1.2rem;
  color: #A9A9A9;
}

/* Seção Sobre Nós */
#about {
  min-height: 100vh;
  background-color: #A9A9A9; /* Cor cinza do logo aplicada ao fundo da seção */
  padding: 0;
  position: relative;
  z-index: 1;
}

.about-container {
  width: 96%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

/* Garantir que as imagens do carrossel tenham o mesmo tamanho */
.carousel-inner {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Reposicionar e estilizar o botão Entre em Contato */
.btn-contact {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #808080; /* Botão cinza mais escuro */
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  z-index: 2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-contact:hover {
  background-color: #696969; /* Hover em cinza mais escuro */
  color: white;
  text-decoration: none;
}

/* Serviços */
#services {
  min-height: 100vh;
  background-color: #A9A9A9; /* Cor cinza do logo aplicada ao fundo da seção */
  padding-top: 20px;
  z-index: 2;
}

.container .row {
  margin-bottom: 3rem;
}

.container .row img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Rodapé */
#footer {
  background-color: #A9A9A9; /* Cor cinza do logo aplicada ao rodapé */
  color: #A9A9A9;
  height: 100px;
  padding: 20px 2%;
}

#footer a {
  color: #A9A9A9;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/* Evitar que seções se sobreponham */
section {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Garantir que as seções não se sobreponham */
#about, #services {
  min-height: 100vh;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .carousel-img {
    height: 50vh;
  }

  .btn-contact {
    font-size: 1rem;
    padding: 10px 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
