body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.bg-primary {
    background-color: #f8f9fa;
}

.bg-secondary {
    background-color: #343a40;
    color: white;
}

.bg-gray {
    background-color: #d1d1d1;
}

.logo {
    height: 50px; /* Tamanho proporcional do logo na barra de navegação */
    max-width: 150px;
}

.navbar {
    background-color: #d1d1d1;
}

.nav-link {
    font-weight: 700;
    margin-left: 20px;
}

.contact-btn {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 10;
    transform: translateY(-50%);
}

.service-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.service-title {
    font-weight: 700;
}

.footer-logo {
    height: 50px; /* Tamanho proporcional do logo no rodapé */
    max-width: 150px;
}

.footer-contact {
    color: #333;
    text-decoration: none;
}
