body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    box-sizing: border-box;
}

.navbar {
    padding: 20px;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: 0 auto;
}

.contact-button {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
